* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$main-color: #4E5150;

$gray4: #BDBDBD;


body {
    padding: 2rem;

    @media(min-width: 768px) {
        padding: 1rem 8rem;

    }
}

header {
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    padding: 1rem 0;

    @media(min-width: 768px) {
        padding: 2rem 4rem;

    }

    .avatar {
        h1 {
            color: $main-color;
            font-size: 0.875rem;

            @media(min-width: 768px) {
                font-size: 1.5rem;
            }
        }



        p {
            color: #A9A9A9;
            font-size: 0.625rem;

            @media(min-width: 768px) {
                font-size: .875rem;
            }

        }



        img {
            max-width: 100%;
            width: 101px;
            border-radius: 1rem;

            @media(min-width: 768px) {
                width: 156px;

            }
        }


    }

    .cards {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        gap: 1rem;



        .card {
            font-size: .75rem;
            padding: 1rem 0;
            background-color: #E5E5E5;
            border-radius: 1rem;
            width: 4.875rem;
            text-align: center;

            @media(min-width: 768px) {
                width: 6.25rem;

            }

            .number {
                color: $main-color;
            }

            .info {
                color: $gray4;

            }
        }
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);

    img {
        width: 100%;
        height: 100%;
    }

    img:nth-child(2) {

        grid-column: 2 /span 2;
    }

    img:nth-child(3) {
        grid-column: span 2;
    }

    img:nth-child(4) {
        grid-row: span 2;
    }
}

footer {
    text-align: center;
    margin-top: 2rem;
    color: #B9BDCF;
    font-size: 0.875rem;
    font-family: Montserrat;
    font-weight: 500;

    b {
        font-weight: 700;
    }
}