@use 'components' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 1rem;


    @media(min-width: 768px) {
        padding: 2rem 4rem;
    }




}

h1 {
    color: #4E5150;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;

    @media(min-width: 768px) {
        font-size: 2.25rem;
        margin-bottom: 2rem;

    }
}

.products {
    background-color: #F2F2F2;
    padding: 1rem;
    margin-bottom: 2rem;
    flex-basis: 300px;

    .card {
        display: flex;
        margin-bottom: 2rem;
        justify-content: space-between;

        img {
            width: 122.75px;
            margin-right: 1rem;
            border-radius: .5rem;

            @media(min-width: 768px) {

                width: 134.21px;
            }

        }

        .info {

            color: #4E5150;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-basis: 250px;


            h3 {
                font-size: 0.75rem;


            }

            >p {
                color: #F2994A;
                font-size: 0.875rem;

                @media(min-width: 768px) {
                    font-size: 1rem
                }

                span {
                    color: #4E5150;
                    font-weight: 600;
                    text-decoration-line: line-through;
                    font-size: 0.625rem;

                    @media(min-width: 768px) {
                        font-size: .75rem
                    }

                }
            }

            .quantity {
                margin-top: 1rem;
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: .5rem;
                font-size: 1rem;
                border: 1px solid #828282;
                border-radius: .75rem;

                .modifier {
                    color: #828282;
                    background-color: #E0E0E0;
                    padding: 1px;
                    font-size: 1.5rem;
                    border-radius: 4px;

                    &:hover {
                        cursor: pointer
                    }
                }

            }
        }


    }

    .summarize {
        color: #333333;
        font-weight: 600;
        font-size: .875rem;

        @media(min-width:768px) {
            font-size: 1.125rem;

        }

        p {
            display: flex;
            justify-content: space-between;

            span:nth-of-type(2) {
                font-size: .875rem;

            }
        }

        p:first-of-type {
            padding: .5rem 0;

            border-color: #BDBDBD;
            border-style: solid none;
            border-width: 1px;

            margin-bottom: 1rem;

        }


    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width:768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

}

.customer {
    // order: 2;
    flex: 1;

    @media (min-width:768px) {
        order: -1
    }

    h2 {
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #333333;
        margin-bottom: 1rem;

        @media (min-width:768px) {
            font-size: 18px;
        }
    }

    .address-info {
        margin-top: 3.5rem;
        display: flex;
        flex-wrap: wrap;

        >div {
            flex-basis: 100%;
        }

        // .input-field:last-of-type,
        // .input-field:nth-last-of-type() 
        .input-field:last-of-type {
            flex-basis: 40%;
        }
    }

    .country-post {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem
    }

    .save-session {
        display: flex;
        color: #4F4F4F;
        font-size: 0.625rem;
        font-weight: 600;
        align-items: center;
        margin-bottom: 1rem;

        @media (min-width: 768px) {
            font-size: 0.75rem;

        }

        input[type="checkbox"] {
            display: block;
            width: 1rem;
            height: 1rem;
            margin-right: .5rem;

            @media (min-width: 768px) {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 1rem;

            }
        }


    }

    input[type="submit"] {
        align-self: end;
        padding: 1rem 2.5rem;
        border-radius: 1rem;
        border: none;
        background-color: #F2994A;

        color: white;
        margin-left: auto;

        font: {
            size: 1rem;
            weight: 600;
        }
    }


}

#phone:invalid:invalid-message {
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}