* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 2rem;

    @media(min-width: 768px) {
        padding: 4rem 12rem;
    }
}

h1 {
    color: #4E5150;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;

    @media(min-width: 768px) {
        font-size: 2.25rem;
        margin-bottom: 2rem;

    }
}

.products {
    background-color: #F2F2F2;
    padding: 2rem;


    .card {
        display: flex;
        margin-bottom: 2rem;

        img {
            width: 122.75px;
            margin-right: 1rem;
            border-radius: .5rem;

            @media(min-width: 768px) {

                width: 134.21px;
            }

        }

        .info {
            color: #4E5150;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            justify-content: space-between;



            h3 {
                font-size: 0.75rem;


            }

            >p {
                color: #F2994A;
                font-size: 0.875rem;

                @media(min-width: 768px) {
                    font-size: 1rem
                }

                span {
                    color: #4E5150;
                    font-weight: 600;
                    text-decoration-line: line-through;
                    font-size: 0.625rem;

                    @media(min-width: 768px) {
                        font-size: .75rem
                    }

                }
            }

            .quantity {
                margin-top: 1rem;
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: .5rem;
                font-size: 1rem;
                border: 1px solid #828282;
                border-radius: .75rem;

                p:not(:nth-child(2)) {
                    color: #828282;
                    background-color: #F2994A;

                    padding: 1px;
                    font-size: 1.5rem;

                    &:hover {
                        cursor: pointer
                    }
                }

            }
        }


    }

    .summarize {
        color: #333333;
        font-weight: 600;
        font-size: .875rem;

        @media(min-width:768px) {
            font-size: 1.125rem;

        }

        p {
            display: flex;
            justify-content: space-between;

            span:nth-of-type(2) {
                font-size: .875rem;

            }
        }

        p:first-of-type {
            padding: .5rem 0;

            border-color: #BDBDBD;
            border-style: solid none;
            border-width: 1px;

            margin-bottom: 1rem;

        }


    }
}